<!--page-->
  <!--banner-->
  <div id="banner">
  <div class="container intro_wrapper">
  <div class="inner_content">

  <h1 class="title">Causes</h1>
  
<!--  <h1 class="intro">
  Web design is the creation of <span class="hue">digital environments</span>, that <span>facilitate</span> and encourage human activity; 
  <span>reflect </span> or adapt to individual voices and content. - Jeffrey Zeldman</h1> -->
  </div>
    </div>
      </div>
      
      <div class="container wrapper">
      <div class="inner_content">
      
      <div id="options">                                           
                    <ul id="filters" class="option-set" data-option-key="filter">
                        <li><a href="#filter" data-option-value="*" class=" selected">All</a> </li>
                        <li><a href="#filter" data-option-value=".category01">Category 01</a> </li>                                            
                        <li><a href="#filter" data-option-value=".category02">Category 02</a> </li>
                        <li><a href="#filter" data-option-value=".category03">Category 03</a></li> 
                    </ul>                                           
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <!-- portfolio_block --> 
                    <div class="projects">                                  
 <% @causes.each do |cause| %>   
                      <div class="span6 element category<%= cause.user_id %>" data-category="category<%= cause.user_id %>">
                            <div class="hover_img">
                <a href="img/portfolio/1.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/1.jpg" alt="" /></a>
                            </div> 
                            <div class="item_description">
                               <%= link_to cause.name, cause %>
                <br>
                <p class="cause_paragraph"><%= cause.description %></p>
                            </div>                                    
                     </div>
  <% end %>

   <!--                      <div class="span6 element category01" data-category="category01">
                            <div class="hover_img">
                <a href="img/portfolio/1.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/1.jpg" alt="" /></a>
                            </div> 
                            <div class="item_description">
                               <a href="single_portfolio.html"><span>Item Link</span></a>
                <br>
                item description
                            </div>                                    
                        </div>

                        <div class="span6 element  category02" data-category="category02">
                            <div class="hover_img">
                <a href="img/portfolio/2.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/2.jpg" alt="" /></a>
                            </div> 
                            <div class="item_description">
                               <a href="single_portfolio.html"><span>Item Link</span></a>
                <br>
                item description
                            </div>
                        </div>

                       <div class="span6 element category03" data-category="category03">
                            <div class="hover_img">
                <a href="img/portfolio/3.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/3.jpg" alt="" /></a>
                            </div> 
                            <div class="item_description">
                               <a href="single_portfolio.html"><span>Item Link</span></a>
                <br>
                item description
                </div>
              </div> 

                        <div class="span6 element category01" data-category="category01">
                            <div class="hover_img">
                <a href="img/portfolio/4.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/4.jpg" alt="" /></a>
                            </div>  
                            <div class="item_description">
                               <a href="single_portfolio.html"><span>Item Link</span></a>
                <br>
                item description
              </div>                                    
                        </div>

                        <div class="span6 element category02" data-category="category02">
                            <div class="hover_img">
                <a href="img/portfolio/5.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/5.jpg" alt="" /></a>
                            </div> 
                            <div class="item_description">
                               <a href="single_portfolio.html"><span>Item Link</span></a>
                <br>
                item description
                            </div>
                        </div>

                       <div class="span6 element category03" data-category="category03">
                            <div class="hover_img">
                <a href="img/portfolio/6.jpg" data-rel="prettyPhoto[portfolio1]"> 
                                <img src="img/portfolio/6.jpg" alt="" /></a>
                            </div> 
                            <div class="item_description">
                               <a href="single_portfolio.html"><span>Item Link</span></a>
                <br>
                item description
                            </div>
                        <div class="clear"></div>
                    </div>   
                    -->   
                </div>
            </div>
        </div>
  </div>
<!--//page-->
<script src="js/jquery.js"></script>      
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script src="js/jquery.isotope.min.js" type="text/javascript"></script>

<script type="text/javascript">
//<![CDATA[
  $(window).load(function(){  
  $('.projects').isotope({
  });
});
//]]>
</script>   
<script type="text/javascript">
//<![CDATA[
    $(function () {
      $('div.element').hide();
    });
    var i = 0;//initialize
    var int=0;
    $(window).bind("load", function() {
      var int = setInterval("doThis(i)",100);//fade in speed in milliseconds
    }); 
  function doThis() {
      var imgs = $('div.element').length;
      if (i >= imgs) {
        clearInterval(int);
      }
      $('div.element:hidden').eq(0).fadeIn(100);
      i++;//add 1 to the count
    }
    //]]>
</script>