	<!--page-->
	<!--banner-->
	<div id="banner">
	<div class="container intro_wrapper">
	<div class="inner_content">
	<h1 class="title">Crescent City Classic</h1>
	
	<h1 class="intro">
	Fundraising Goal
	<div class="progress">
					<div class="bar"  data-percentage="85">
						</div>
					</div>	
	</div>
		</div>
			</div>
			
	<div class="container wrapper">
	<div class="inner_content">
	<div class="pad30"></div>
	
	<div class="row">
		<div class="span7">
		<div class="animated bounceInLeft"><i class="fa fa-bolt colour big"></i>
		</div>
		<h2>About Us</h2>
			<p>
				The Allstate Sugar Bowl Crescent City Classic is New Orleans’ (and the region’s) premier road race.  For over 35 years, it has combined world class competition, amateur participation and great fun for all participants. The Classic is both physically challenging and a great New Orleans tradition! 
			</p>
			<a href="http://www.ccc10k.com/" class="pull-right">Visit the Website</a>
			<div class="pad45"></div>
								<!--testimonial-->
				<div class="span3 pad15">
				<div class="testimonial1">
				<p><i class="fa fa-comments fa-4x pull-left"></i>
				"Crescent City Classic was my first run. It was more than an incredibly satisfying accomplishment; it was a whole bunch of fun!""  </p>
				</div>
					<div class="center">
					<p><small>Sarah, P.</small></p>
				</div>

					<div class="pad45 hidden-desktop"></div></div>

													<!--testimonial2-->
				<div class="span3 pad15">
				<div class="testimonial1">
				<p><i class="fa fa-comments fa-4x pull-left"></i>
				"Crescent City Classic was my first run. It was more than an incredibly satisfying accomplishment; it was a whole bunch of fun!""  </p>
				</div>
					<div class="center">
					<p><small>Sarah, P.</small></p>
				</div>
				
					<div class="pad45 hidden-desktop"></div></div>
			</div>

<div class="span1"></div>
					<div class="span3">
		<div class="animated bounceInRight"><i class="fa fa-lightbulb-o colour big"></i>
		</div>
		<h2>Race Details</h2>
					<ul class="fa-ul">
						<li><i class="fa-li fa fa-desktop colour"></i>Saturday, April 19th, 2014</li>
						<li><i class="fa-li fa fa-laptop colour"></i>8:00 AM</li>
						<li><i class="fa-li fa fa-tablet colour"></i> $35-$45</li>
						<li><i class="fa-li fa fa-mobile-phone colour"></i> <a href="http://www.ccc10k.com/ccc-register.html">Register Here</a></li>
					</ul>
			
				<div class="pad25"></div>
				<a href="../assets/map.jpg" data-rel="prettyPhoto[portfolio1]"><img src="../assets/map.jpg" width="300px;"></a>
			</div>	
		</div>

</div>

					</div>
					</div>
						</div>
					
				<!--strip-->
				<div class="strip">
				<h1 class="center">Join a Cause Today</h1>
				<h3 class="center about_strip">Join a team and train to win extra funding for the cause of your choice.</h3>
				<div class="pad45"></div>
			
				<a href="/causes" class="big_button">Join Now!</a>
				<div class="pad25"></div>
				</div>
				<!--/strip-->

<!-- scripts -->
<script src="js/jquery.js"></script>			
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="../assets/jquery.prettyPhoto.js"></script>
<!-- skills -->
<script>
//<![CDATA[
 setTimeout(function(){
 $('.progress .bar').each(function() {
            var me = $(this);
            var perc = me.attr("data-percentage");
			 var current_perc = 0;
			var progress = setInterval(function() {
                if (current_perc>=perc) {
                    clearInterval(progress);
                } else {
                    current_perc +=1;
                    me.css('width', (current_perc)+'%');
                }
				me.text((current_perc)+'%');
			}, 20);
		});
	},300);
	 //]]>
</script>