	<!--page-->
	<div id="banner">
	<div class="container intro_wrapper">
	<div class="inner_content">
	<h1>Get In Touch</h1>
	<h1 class="title">Contact Information</h1>
	
	<h1 class="intro">It's art if it can't be explained. It's <span>fashion</span> if no one asks for an <span>explanation.</span> 
	It's <span class="hue">design</span> if it doesn't need explanation. - Wouter Stokkel</h1>
	</div>
		</div>
			</div>
				<div class="pad10"></div>
			
			<div class="container wrapper">
			<div class="inner_content">
			<div class="pad10"></div>
				<div class="row">
					<div class="span4">
					<h3>Do you need a website, have a question or comment? Please feel free to send us an email or fill in our handy contact form. We aim to reply within 24 hours.</h3>
					
				<h5>
					<span>Address</span><br>
					Flati Studios<br>
					23 Mornington Crescent,<br>
					Camden High Street,<br>
					London<br>
					NW1 7JE
				</h5>
				
				<h5>
					E: <a href="mailto:#">name@example.com</a><br>
					P: +44 020 2345 1987
				</h5>
			</div>
		
		<div class="span8 ">
		<div class="contact_form">  
		<div id="note"></div>
		<div id="fields">
		<form id="ajax-contact-form">
			<p class="form_info">name <span class="required">*</span></p>
			<input class="span5" type="text" name="name" value="" />
			<p class="form_info">email <span class="required">*</span></p>
			<input class="span5" type="text" name="email" value=""  />
			<p class="form_info">subject</p>
			<input class="span5" type="text" name="subject" value="" /><br>
			<p class="form_info">message</p>
			<textarea name="message" id="message" class="span8" ></textarea>
			<div class="clear"></div>
			
			<input type="submit" class="btn  btn-primary btn-form marg-right5" value="submit" />
			<input type="reset"  class="btn  btn-primary btn-form" value="reset" />
			<div class="clear pad45 hidden-desktop"></div>
		</form>
	</div>
</div>                   
	</div>                	
		</div>
			</div>
				</div>

			
			<!--//GOOGLE MAP - ADD YOUR ADDRESS AT THE BOTTOM OF THE PAGE -->
			<div id="google-maps">
        	<div class="google-maps">
			</div>
        </div>
        <!-- // End Google Map -->
				
    <!--//page-->

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript">
	//<![CDATA[
		$(document).ready(function(){	
			$("#ajax-contact-form").submit(function() {
				var str = $(this).serialize();		
				$.ajax({
					type: "POST",
					url: "contact_form/contact_process.php",
					data: str,
					success: function(msg) {
						// Message Sent - Show the 'Thank You' message and hide the form
						if(msg == 'OK') {
							result = '<div class="notification_ok">Your message has been sent. Thank you!</div>';
							$("#fields").hide();
						} else {
							result = msg;
						}
						$('#note').html(result);
					}
				});
				return false;
			});															
		});
	//]]>		
</script>

<script type="text/javascript" src="js/gmap3.min.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
	
<!--//GOOGLE MAP - ADD YOUR ADDRESS HERE -->
<script type="text/javascript">
	//<![CDATA[
	$(window).load(function() {
	$(".google-maps").gmap3({
    marker:{
	address:"23, Mornington Crescent, London",options:{icon: "img/marker.png"}},
    map:{
      options:{
		zoom: 14,
		scrollwheel: false,
		mapTypeControl: false,
		streetViewControl: false,
		scalControl: false,
		draggable: false}
		}
		});	
	});
//]]>
</script>
