/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */ 
 
 @import "bootstrap.css";
 @import "theme.css";
 @import "zocial.css";
 @import "prettyPhoto.css";

 @charset "UTF-8";
/*------------------------------------------------------------------
General
-------------------------------------------------------------------*/
.bg-green {
	background-color: #22514b;
	width: 100%;
}

.bg-dark-green {
	background-color: #132d2a;
	width: 100%;
}

.bg-dark-grey {
	background-color: #323A45;
}

.orange-border-left {
	border-left:thick solid #faa732;
}

.text-white {
	color: #fff !important;
}

/*------------------------------------------------------------------
Home page
-------------------------------------------------------------------*/
 #options h1 {
 	text-align: center;
 	font-size: 40px
 }

 .projects {
 	background-color: #132d2a;
 }

 .projects img {
 	width: 45px;
 	vertical-align: middle !important;
 	padding-bottom: 5px;
 	padding-right:20px;
 	/*padding-left: 50px;*/
 }

.projects li {
	height: 60px;
}

.projects button {
	margin-top: 10px;
}

.projects a {
	color: #fff !important;
}

.projects a:hover {
	background-color: none !important;
	color: #666 !important;
	background: none !important;
}
/*.projects li.orange-border-left {
	position: absolute;
	top:30px;
	left:22%;
}*/

.isotopeOptions {
	padding: 0 0 0px;
	width: 50%;
    margin: 0 auto;
}

.challenge-text {
	padding-left:30px; 
	padding-top:20px;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 2px;
}
.challenge-text span {
	font-size: 30px;
	font-weight: 300;
}

.project-inner {
	width: 75%;
	margin: auto;
}
.projects .element {
	margin: 0 !important;
	padding: 0 !important;
	height: 110px;
}