<p id="notice"><%= notice %></p>

<p>
  <strong>Today active calories:</strong>
  <%= @stat.today_active_calories %>
</p>

<%= link_to 'Edit', edit_stat_path(@stat) %> |
<%= link_to 'Back', stats_path %>
